a{
	font-size: 0.9rem;
	text-decoration: none; 
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	
	&.link{
		color: $color-green;
	}
}

p{
	font-size: 0.9rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	display: inline-block;
	margin-left: 2rem;
	color: $color-blue;
}

.navbar{
	padding: 0 2rem 1rem; 
}

.navbar-top{
	text-align: right;
	
	a{
		display: inline-block;
	}
}

.navbar-bottom{

	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5rem;
	height: 3rem;

	.logo-container{
		display: inline-block;
		vertical-align: middle;
	}

	.navbar-logo{
		font-size: 1.7rem;
		text-decoration: none;
		color: $color-dark-blue;
		font-weight: 700;
	}

	.navbar-list{
		vertical-align: middle;
		display: inline-block;
		float: right;
		padding: 0;
		padding: 0.4rem 0;
		margin:0;

		li{
			display: inline-block;
			margin-right: 4rem;

			a{
				color: $color-inactive-grey;	

				&.active{
					color: $color-blue;
				}

				&:hover{
					color: $color-blue;
				}
			}

			a.btn-border{
				&:hover{
					background-color: $color-green;
					color: white;
				}
			}
		}

		li:last-of-type{
			margin-right: 0;
		}

		li .btn{
			color: $color-green;
		}
	}

}



