/* --------- Hero Section ---------- */
.hero-container{
	height: 420px;
}

.hero{
	position: relative;
	background-image: url('../img/home-cover2');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	overflow: hidden;

		.arrow{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			font-size: 1rem;
			color: $color-grey;
			transition: all 0.3s ease;
			cursor: pointer;
		}

		.arrow-right{
			right: 40px;

			&:hover{
				transform: translate(5px, -50%);
			}
		}

		.arrow-left{
			left: 40px;

			&:hover{
				transform: translate(-5px, -50%);
			}
		}
}

	/* ----- Hero Section Slideshow ----- */

	.slideshow{
		position: relative;
		padding: 0;
		margin: 0;
		top: 45%;
		transform: translateY(-50%);

		.slide{
			border: 1px solid transparent;
			width: 50%;
			margin-left: 10rem;

			h1{
				color: $color-blue;
				margin-bottom: 1rem;
				margin-top: 0;
			}

			p{
				margin: 0;
				margin-bottom: 2rem;
				line-height: 1.5rem;
			}
		}

		
	}

	/* ------ Hero Section Search Bar  ----- */

	.search-container{
		border-radius: 5px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		height: 200px;
		width: 80%;
		background: linear-gradient(to top right, white, rgba(255,255,255, 0.8));
		margin-top: -50px;
		padding: 1rem;
	} 

	.search-content{
		text-align: center;
			h4{
				color: $color-dark-blue;
				font-weight: 700;
				font-family: "Open Sans", sans-serif;
			}
	}

	.search-form{

		.btn-submit{
			padding: 0.7rem 1.2rem; 
		}

		.input-long{
			width: 270px;
		}
	}

	.form-group{
		display: inline-block;
		text-align: left;
		margin-right: 1rem;
	
		label{
			color: $color-blue;
			font-family: "Open Sans", sans-serif;
			display: block;
			font-weight: 700;
			font-size: 0.9rem;
			margin-bottom: 0.5rem;
		}

		input, .input-select{
			padding: 0.5rem;
			border: 1px solid rgba(black, 0.2);
			font-size: 0.9rem;
			font-family: "Open Sans", sans-serif;
		}

		.input-select{
			padding: 0.4rem;
		}
	}

	/* ------ Partners Section ----- */

	.partners-section{
		margin-top: 12rem;
		text-align: center;

		p{
			font-family: "Open Sans", sans-serif;
			color: $color-grey;
			font-weight: 700;
			display: inline-block;
			margin-right: 3rem;
			vertical-align: middle;
			font-size: 1rem;
		}

		&>div{
			display: inline-block;
			vertical-align: middle;
		}
	}

	.partner-icon{
		display: inline-block;
		margin-right: 2.5rem;
		vertical-align: top;
		height: 50px;
		width: 120px;
	}

	.partner-icon:nth-of-type(2){
		width: 150px;
	}

	/* ------ Icons Section ----- */

	.icons-section{
		position: relative;
		text-align: center;
		margin-top: 8rem;
		margin-bottom: 8rem;
		font-family: "Open Sans", sans-serif;

		.steps-icons{
			counter-reset: icon_count;

			.process-icon{
				position: relative;
			}

			.process-icon::after{
				position: absolute;
				top:50%;
				left:4rem;
				font-family: "Open Sans", sans-serif;
				counter-increment: icon_count;
				content: counter(icon_count);
				font-weight: 700;
				font-size: 3.5rem;
				color: $color-dark-blue;
				transform: translateY(-50%);
			}
		}

		h2{
			color: $color-dark-blue;
		}

		.icon-container{
			padding-top: 3rem;
			display: inline-block;
			counter-reset: icon-count;
			margin-right: 2rem;

			p{
				display: block;
				margin: 1.5rem 0 1.5rem;
				font-weight: 700;
			}
		}

		[data-star="1"]{
			position: absolute;
			top: 10px;
			right: 0;
			height: 70px;
		}

		[data-star="2"]{
			position: absolute;
			top: 0;
			right: 80px;
			height: 30px;
		}

		[data-star="3"]{
			position: absolute;
			top: 10rem;
			right: 1.5rem;
			height: 20px;
		}

		[data-star="4"]{
			position: absolute;
			top: 15rem;
			right: 4rem;
			height: 40px;
		}



	}

	/* ------ Reviews Section ----- */

	.reviews-section{
		position: relative;
		padding: 3rem 0 4rem 0; 
		background-color: $color-light-grey;

		h2{
			text-align: center;
			font-family: "Open Sans", sans-serif;
			color: $color-dark-blue;
		}

		.review-slideshow{
			max-width: 100%;
			padding: 0 10rem;

			div.slide-container{
				max-width: 100%;
				padding: 0;
				overflow: hidden;

				ul.slide-list{
					padding: 0;
					width: 250%;
					padding-top: 4rem;
					transition: all 1s ease-out;

					.review-slide{
						display: inline-block;
						width: 450px;
						height: 100%;
						margin-right: 7rem;
						list-style-type: none;
						text-align: center;

						.user-img{
							border-radius: 50%;
							height: 60px;
						}

						.user-info{
						margin-top: 1.5rem;

							.user-review{
								margin: 0;
								font-weight: 200;
								font-size: 1rem;
								font-style: italic;
								line-height: 1.4rem;
							}

							.user-name{
								margin: 0;
								margin-top: 1.5rem;
								font-weight: bold;
							}	

							.user-stars{
								margin-top: 1rem;
							}

							.star{
								margin-right: 0.4rem;
							}
	
							.star-fill{
								color: $color-yellow;
							}

							.star-unfill{
								color: $color-dark-grey;
							}
						}
					}

					.review-slide:nth-of-type(2n){
						margin-right: 1.3rem;
					}
				}
			}
		}

		.button-container{
			text-align: center;
			margin-top: 5rem;

			p{
				margin: 0;
				margin-bottom: 1.4rem;
				display: block;
				font-weight: bold;

			}
		}

		.arrow-left{
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			left: 4rem;
			transition: transform 0.2s ease-out;
			cursor: pointer;

			&:hover{
				transform: translate(-5px, -50%);
			}
		}

		.arrow-right{
			position: absolute;
			top:50%;
			transform: translateY(-50%);
			right: 4rem;
			transition: transform 0.2s ease-out;
			cursor: pointer;

			&:hover{
				transform: translate(5px, -50%);
			}
		}
	}